<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kratom Research Network</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar" data-row-id="main" data-show-on="desktop">
                <div class="container-fluid">
                    <div class="navbar-brand-block">
                        <a class="navbar-brand" href="https://ncs.oncb.go.th/kratom/"> <img class="img-fluid" src="{{ url_for('static', filename='android-chrome-512x512.png') }}" alt="">ศูนย์กลางด้านความรู้พืชกระท่อม</a>
                        <span class="navbar-subtitle">สถาบันวิจัยและนวัตกรรมทางการแพทย์ มหาวิทยาลัยสงขลานครินทร์</span>
                    </div>
                    <div class="navbar-actions">
                        <a class="nav-link active" aria-current="page" href="#">หน้าแรก</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                เกี่ยวกับ
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%a1%e0%b8%b2%e0%b8%82%e0%b8%ad%e0%b8%87%e0%b8%a8%e0%b8%b9%e0%b8%99%e0%b8%a2%e0%b9%8c/">
                                    ความเป็นมา</a>
                                </li>
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b9%82%e0%b8%84%e0%b8%a3%e0%b8%87%e0%b8%aa%e0%b8%a3%e0%b9%89%e0%b8%b2%e0%b8%87%e0%b8%ad%e0%b8%87%e0%b8%84%e0%b9%8c%e0%b8%81%e0%b8%a3/">
                                    โครงสร้างองค์กร</a>
                                </li>
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b9%82%e0%b8%84%e0%b8%a3%e0%b8%87%e0%b8%aa%e0%b8%a3%e0%b9%89%e0%b8%b2%e0%b8%87%e0%b8%ad%e0%b8%87%e0%b8%84%e0%b9%8c%e0%b8%81%e0%b8%a3/">
                                    คู่มือการใช้งานและเอกสารประกอบ</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link active" aria-current="page" href="#">กฏหมายที่เกี่ยวข้อง</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                คลังความรู้
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/health/">
                                    ข้อมูลพืชกระท่อม</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/pharmacology/">เภสัชวิทยา</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/interdisciplinary/">แพทย์แผนไทย</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/society/">สังคม</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/agriculture/">การเพาะปลูก</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/%e0%b8%81%e0%b8%b2%e0%b8%a3%e0%b8%88%e0%b8%b1%e0%b8%94%e0%b8%97%e0%b8%b3%e0%b8%a1%e0%b8%b2%e0%b8%95%e0%b8%a3%e0%b8%90%e0%b8%b2%e0%b8%99%e0%b8%aa%e0%b8%b2%e0%b8%a3%e0%b8%aa%e0%b8%81%e0%b8%b1%e0%b8%94/">
                                        การจัดทำมาตรฐานสารสกัด</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/category/knowledge/agriculture/">การเพาะปลูก</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link active" aria-current="page" href="#">การบริการ</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                เครือข่าย
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b9%80%e0%b8%84%e0%b8%a3%e0%b8%b7%e0%b8%ad%e0%b8%82%e0%b9%88%e0%b8%b2%e0%b8%a2%e0%b8%82%e0%b8%ad%e0%b8%87%e0%b8%a8%e0%b8%b9%e0%b8%99%e0%b8%a2%e0%b9%8c%e0%b8%81%e0%b8%a5%e0%b8%b2%e0%b8%87%e0%b8%94/">
                                    ศูนย์วิจัยและทดสอบ</a>
                                </li>
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b9%80%e0%b8%84%e0%b8%a3%e0%b8%b7%e0%b8%ad%e0%b8%82%e0%b9%88%e0%b8%b2%e0%b8%a2%e0%b9%80%e0%b8%81%e0%b8%a9%e0%b8%95%e0%b8%a3%e0%b8%81%e0%b8%a3/">
                                    เครือข่ายเกษตรกร</a>
                                </li>
                                <li><a class="dropdown-item" href="https://ncs.oncb.go.th/kratom/%e0%b9%80%e0%b8%a7%e0%b9%87%e0%b8%9a%e0%b9%84%e0%b8%8b%e0%b8%95%e0%b9%8c%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b9%88%e0%b8%a2%e0%b8%a7%e0%b8%82%e0%b9%89%e0%b8%ad%e0%b8%87/">
                                    เว็บไซต์ที่เกี่ยวข้อง</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <section>
                <h1>Kratom Research Network Graph</h1>
            </section>
        </div>

        <footer>

        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>